body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
nav a {
	padding: 15px;
}
nav, footer {
	font-weight: bold;
	height: 50px;
	background-color:#00008B;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
}
nav ul li a{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}
nav ul li a:hover{
	background-color:#0000FF;
}