nav a {
	padding: 15px;
}
nav, footer {
	height: 50px;
	font-weight: bold;
	background-color:#00008B;
}
nav ul {
	float: right;
}
nav ul li {
	display: inline-block;
}
nav ul li a{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}
nav ul li a:hover{
	background-color:#0000FF;
}

.navbar, .content, .footer {
    width: 85%;
    margin: 0 auto;
}

.content {
	margin-top: 50px;
}

.header {
	text-align: center;
}

.article {
}

.l-left .article {
    float: left;
}

.l-flipped .article {
    float: right;
}

.sidebar {
    float: right;
}

.l-flipped .sidebar {
    float: left;
}

.sidebar ul {
    float: right;
    list-style: none;
}

.features {
	text-align: center;
}

.footer {
	color: #ffffff;
	margin-top: 15%;
	padding: 15px;
	text-align: center;
}
