.container {
	margin: 0 auto;
	width: 1200px;
}			

.main {
	margin-top: 40px;
	width: 1200px;
}

.main-3-col {
	margin-top: 40px;
	float: left;
	width: 950px;
}

.main-2-col {
	margin-top: 40px;
	float: left;
	width: 600px;
}

.sidebar-1-col {
	margin-top: 40px;
	float: right;
	width: 240px;
}

.footer {
	font-weight: bold;
	margin-top: 15%;
	color:#FFFFFF;
	background-color:#00008B;
	text-align:center;
	padding:4px;
}