.clear {
	clear: both;
}

.ad {
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
}

.ad li {
	margin-bottom: 20px;
}

.thumbnail {
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.thumbnail li{
	text-align: left;
}

.thumbnail img {
	width: 200px;
	height: 200px;
}

.features {
	text-align: center;
}

.buttons {
	padding:10px;
	font-weight: bold;
	margin-bottom: 20px;
	background-color:#00008B;
	border: 1px solid #666;
	color:#ffffff;
	text-decoration:none;
}

input {
	width: 420px;
}